<!DOCTYPE html>
<html>
  <head>
    <title>Champ</title>

    <!-- Spectre -->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_pack_tag 'application' %>

    <%= javascript_include_tag 'application' %>



  </head>

  <header class="navbar">
  <section class="navbar-section">
    <a href="#" class="navbar-brand mr-2">Champ</a>
    <a href="#" class="btn btn-link">Posts</a>
  </section>
  <section class="navbar-center">

    <i class="icon icon-2x icon-emoji"></i>
  </section>
  <section class="navbar-section">
    <a class="btn btn-link" href="https://twitter.com/jschumann007" target="_blank">Twitter</a>
    <a class="btn btn-link" href="https://github.com/JenSchumann/Champ" target="_blank" >GitHub</a>
  </section>

  </header>
  <body>
    <%= yield %>
  </body>
</html>
